In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = ('/Users/Beba/Documents/JupyterNotebooks/NY2013Crimes.csv')
raw_crimes = pd.read_csv(data, skiprows=4)
raw_crimes.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,"1,861",0,0.0,NaN,0,0,0,12,2,10,0,0.0
1,Addison Town and Village,"2,577",3,0.0,NaN,0,0,3,24,3,20,1,0.0
2,Akron Village,"2,846",3,0.0,NaN,0,0,3,16,1,15,0,0.0
3,Albany,"97,956",791,8.0,NaN,30,227,526,"4,090",705,"3,243",142,NaN
4,Albion Village,"6,388",23,0.0,NaN,3,4,16,223,53,165,5,NaN

In [4]:
raw_crimes.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3'],
      dtype='object')

In [5]:
Property_Crime = pd.DataFrame()

In [6]:
Property_Crime['City'] = raw_crimes['City']
Property_Crime['Population'] = raw_crimes['Population']
Property_Crime['Robbery'] = raw_crimes['Robbery']
Property_Crime['Murder'] = raw_crimes['Murder and\nnonnegligent\nmanslaughter']

In [7]:
Property_Crime['Population'] = Property_Crime['Population'].str.replace(',','').astype(float)

In [8]:
Property_Crime['PopulationSQ'] = Property_Crime['Population'].apply(lambda x: x*x)

In [13]:
Property_Crime.head()

                       City  Population Robbery  Murder  PopulationSQ
0             Adams Village      1861.0       0     0.0  3.463321e+06
1  Addison Town and Village      2577.0       0     0.0  6.640929e+06
2             Akron Village      2846.0       0     0.0  8.099716e+06
3                    Albany     97956.0     227     8.0  9.595378e+09
4            Albion Village      6388.0       4     0.0  4.080654e+07

In [58]:
Property_Crime['Robbery'] = Property_Crime['Robbery'].astype(str)

In [71]:
Property_Crime.head()

,City,Population,Robbery,Murder,PopulationSQ,Robbery_Category,Murder_Category
0,Adams Village,1861.0,0.0,0.0,3.463321e+06,0,0
1,Addison Town and Village,2577.0,0.0,0.0,6.640929e+06,0,0
2,Akron Village,2846.0,0.0,0.0,8.099716e+06,0,0
3,Albany,97956.0,227.0,8.0,9.595378e+09,1,1
4,Albion Village,6388.0,4.0,0.0,4.080654e+07,1,0

In [65]:
Property_Crime['Robbery_Category'] = np.where(Property_Crime['Robbery'].str.contains("0.0"), 0, 1)

In [68]:
Property_Crime['Murder'] = Property_Crime['Murder'].astype(str)
Property_Crime['Murder_Category'] = np.where(Property_Crime['Murder'].str.contains("0.0"), 0, 1)

In [70]:
Property_Crime.drop(['Robbery'], axis=1, inplace=True)
Property_Crime.drop([])

,City,Population,Murder,PopulationSQ,Robbery_Category,Murder_Category
0,Adams Village,1861.0,0.0,3.463321e+06,0,0
1,Addison Town and Village,2577.0,0.0,6.640929e+06,0,0
2,Akron Village,2846.0,0.0,8.099716e+06,0,0
3,Albany,97956.0,8.0,9.595378e+09,1,1
4,Albion Village,6388.0,0.0,4.080654e+07,1,0
5,Alfred Village,4089.0,0.0,1.671992e+07,1,0
6,Allegany Village,1781.0,0.0,3.171961e+06,0,0
7,Amherst Town,118296.0,1.0,1.399394e+10,1,1
8,Amityville Village,9519.0,0.0,9.061136e+07,1,0
9,Amsterdam,18182.0,0.0,3.305851e+08,1,0
10,Arcade Village,2053.0,0.0,4.214809e+06,0,0
11,Ardsley Village,4523.0,0.0,2.045753e+07,1,0
12,Asharoken Village,658.0,0.0,4.329640e+05,0,0
13,Attica Village,2522.0,0.0,6.360484e+06,0,0
14,Auburn,27270.0,1.0,7.436529e+08,1,1
15,Avon Village,3333.0,0.0,1.110889e+07,1,0
16,Baldwinsville Village,7473.0,0.0,5.584573e+07,1,0
17,Ballston Spa Village,5418.0,0.0,2.935472e+07,1,0
18,Batavia,15374.0,0.0,2.363599e+08,1,0
19,Bath Village,5733.0,0.0,3.286729e+07,1,0
20,Bedford Town,17627.0,0.0,3.107111e+08,1,0
21,Bethlehem Town,34243.0,0.0,1.172583e+09,1,0
22,Binghamton,46304.0,3.0,2.144060e+09,1,1
23,Black River,1410.0,0.0,1.988100e+06,0,0
24,Blooming Grove Town,12001.0,0.0,1.440240e+08,0,0
25,Bolivar Village,1022.0,0.0,1.044484e+06,0,0
26,Bolton Town,2325.0,0.0,5.405625e+06,0,0
27,Boonville Village,2054.0,0.0,4.218916e+06,0,0
28,Brant Town,2065.0,0.0,4.264225e+06,1,0
29,Brewster,2358.0,0.0,5.560164e+06,0,0
...,...,...,...,...,...,...
321,Utica,61686.0,7.0,3.805163e+09,1,1
322,Vestal Town,27980.0,0.0,7.828804e+08,1,0
323,Walden Village,6887.0,1.0,4.743077e+07,1,1
324,Wallkill Town,27940.0,0.0,7.806436e+08,1,0
325,Walton Village,3012.0,0.0,9.072144e+06,0,0
326,Warsaw Village,3453.0,0.0,1.192321e+07,0,0
327,Washingtonville Village,5828.0,0.0,3.396558e+07,1,0
328,Waterford Town and Village,8392.0,0.0,7.042566e+07,0,0
329,Waterloo Village,5175.0,0.0,2.678062e+07,1,0
330,Watertown,28179.0,0.0,7.940560e+08,1,0
331,Watervliet,10245.0,1.0,1.049600e+08,1,1
332,Watkins Glen Village,1862.0,0.0,3.467044e+06,0,0
333,Waverly Village,4337.0,0.0,1.880957e+07,1,0
334,Webster Town and Village,43777.0,0.0,1.916426e+09,1,0
335,Weedsport Village,1797.0,0.0,3.229209e+06,0,0
336,Wellsville Village,4574.0,0.0,2.092148e+07,0,0
337,Westhampton Beach Village,1732.0,0.0,2.999824e+06,0,0
338,West Seneca Town,44821.0,1.0,2.008922e+09,1,1
339,Whitehall Village,2604.0,0.0,6.780816e+06,0,0
340,White Plains,57559.0,1.0,3.313038e+09,1,1
341,Whitesboro Village,3733.0,0.0,1.393529e+07,0,0
342,Whitestown Town,9141.0,0.0,8.355788e+07,0,0
343,Woodbury Town,10685.0,0.0,1.141692e+08,1,0
344,Woodridge Village,829.0,0.0,6.872410e+05,0,0
345,Woodstock Town,5931.0,0.0,3.517676e+07,0,0
346,Yonkers,199134.0,6.0,3.965435e+10,0,1
347,Yorktown Town,36643.0,0.0,1.342709e+09,1,0
348,1 The figures shown in this column for the off...,NaN,nan,NaN,1,1
349,2 The figures shown in this column for the off...,NaN,nan,NaN,1,1
350,3 The FBI does not publish arson data unless i...,NaN,nan,NaN,1,1